<a href="https://colab.research.google.com/github/bigdata233/Mathematical-Staitstics-R-Practice/blob/main/01_%EA%B8%B0%EC%B4%88%EC%A0%81%EC%9D%B8_%EC%88%AB%EC%9E%90_%EB%B2%A1%ED%84%B0_%ED%96%89%EB%A0%AC%EC%9D%98_%EA%B3%84%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#(1) 숫자
# 기본적인 연산
2+2
(4+2)*3
(2-5)/2

# 수학함수
sqrt(4)
exp(-5)
floor(4.34)
round(4.3523,2)
log2(5)
log(2)
2^(-2)

#(2) 벡터(Vector)
#seq() 함수
seq(from=1, to=10, by=2)	#1부터 10까지 2만큼 증가하는 자료
seq(1,10,2)		#from, to, by생략 가능
x<-seq(1,10,2)	#생성된 자료를 x 변수에 저장
x	#x에 저장된 값 출력

#c() 함수
c(1,2,3,4)
x<-c(3,4,5,10,4)
x

#rep() 함수
rep(1,5)
x<-c(1,2,3,4)
rep(x,3)		#벡터 x를 3회 반복
rep(c(2,3,5),c(4,3,2))		#2를 4회, 3을 3회, 5를 2회 반복

#유용한 함수
x<-sample(1:10,10,replace=T)
sum(x)
min(x)
sd(x)
length(x)

#(3) 행렬(Matrix)
#matrix() 함수
x<-seq(1,12)
matrix(x,3,4)		#byrow=False가 Default임 (열 부터 채워나감)
matrix(x,4,3)
matrix(x,4,3,byrow=TRUE)

#행렬 연산 함수
x<-matrix(c(2,3,2,3,5,3,1,6,8),3,3)		#x는 3x3행렬
solve(x)		#x의 역행렬
t(x)		#x의 전치행렬

[1] 4

[1] 18

[1] -1.5

[1] 2

[1] 0.006737947

[1] 4

[1] 4.35

[1] 2.321928

[1] 0.6931472

[1] 0.25

[1] 1 3 5 7 9

[1] 1 3 5 7 9

[1] 1 3 5 7 9

[1] 1 2 3 4

[1]  3  4  5 10  4

[1] 1 1 1 1 1

 [1] 1 2 3 4 1 2 3 4 1 2 3 4

[1] 2 2 2 2 3 3 3 5 5

[1] 60

[1] 1

[1] 3.231787

[1] 10

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12

     [,1]       [,2] [,3]
[1,]  3.1428571 -3    1.8571429
[2,] -1.7142857  2   -1.2857143
[3,] -0.1428571  0    0.1428571

     [,1] [,2] [,3]
[1,] 2    3    2
[2,] 3    5    3
[3,] 1    6    8